# Binary
/nsafepass

# Tests
/*.test
/*.log
/*.trs

# Object files
*.o

# Dist
/*.tar.gz

# Autotools
.deps
.dirstamp
/Makefile
/Makefile.in
/autom4te.cache
/aclocal.m4
/build-aux
/config*
/stamp-h1

# Doxygen
doxygen/doxyfile.stamp
doxygen/Doxyfile
doxygen/html
